---
import { Image } from "astro:assets";
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";
import ImageHd from "@/assets/onsite/bg-onsite_hd.webp";
import ImageLowRes from "@/assets/onsite/bg-onsite_Image_LowRes.webp";
import Obj from "@/assets/obj/obj.webp";
import Navbar from "@/components/Navbar/Navbar";
import KeepButton from "@/components/KeepButton/KeepButton";
import ScanMoreItem from "@/components/KeepButton/ScanMoreItem";
import BackToHome from "@/components/KeepButton/BackToHome";
import ESC from "@/assets/landing/esc_hd.webp";
import GearFest from "@/assets/landing/gearfest_hd.webp";
import KNEng from "@/assets/landing/tueng_hd.webp";
---

<ImagePageLayout
  title="Gear Festival 2025"
  image={ImageHd}
  imageLowRes={ImageLowRes}
  class="h-full min-h-[932px] overflow-y-auto"
>
  <Navbar client:load />

  <div
    class="absolute top-0 right-0 left-0 flex h-full flex-col items-center"
    style={{ backgroundImage: `url(${ImageHd.src})` }}
  >
    <div class="flex w-auto items-center justify-center gap-1.5">
      <Image src={ESC} alt="ESC" class="h-[69px] w-[53px] object-cover" />
      <Image src={GearFest} alt="GearFest" class="h-[136px] w-[136px]" />
      <Image src={KNEng} alt="KNEng" class="h-[53px] w-[53px]" />
    </div>
    <h1
      style={{
        textShadow: "0px 0px 3px rgba(255, 255, 255, 0.7), 0px 0px 6px #000000",
      }}
      class="mercy-font mt-8 mb-8 text-6xl text-white"
    >
      Furby
    </h1>
    <Image src={Obj} alt="Obj" class="mb-8 h-[189px] w-[226px] object-cover" />
    <div
      style={{
        textShadow: "0px 4px 4px rgba(0, 0, 0, 0.35)",
        background: "rgba(255, 255, 255, 0.1)",
      }}
      class="font-taviraj relative mb-8 flex h-[156px] w-[341px] flex-col items-center justify-center gap-[10px] rounded-xl bg-white text-[15px] font-medium text-white"
    >
      <p>
        lamos indo kinda <br />
        boxdsad sadsadsdad <br />
        dsadsadsd <br />
        dasdadsda<br />
        dsadds<br />
      </p>
    </div>
    <div class="mb-2.5">
      <KeepButton client:load />
    </div>
    <div class="flex items-center justify-center gap-1">
      <ScanMoreItem client:load />
      <BackToHome client:load />
    </div>
  </div>
</ImagePageLayout>
