---
// index.astro
import glowgear from "@/assets/whatisgearfest/glowgearfest.svg";
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";
import whatisbg from "@/assets/whatisgearfest/bgwhatis_hd.webp";
import whatisbgLowRes from "@/assets/whatisgearfest/bgwhatis_Image_LowRes.webp";
import Navbar from "@/components/Navbar/Navbar";
import ESC from "@/assets/landing/esc_hd.webp";
import GearFest from "@/assets/landing/gearfest_hd.webp";
import KNEng from "@/assets/landing/tueng_hd.webp";
import { Image } from "astro:assets";
import CheckResult from "@/components/CheckResult";
import PullToRedirect from "@/components/Landing/PullToRedirect";
import PMCU from "@/assets/whatisgearfest/pmcu_hd.webp";
import CCMC from "@/assets/whatisgearfest/ccmc_hd.webp";
import LoveIs from "@/assets/whatisgearfest/loveis_hd.webp";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<ImagePageLayout
  title="What is Gear Festival?"
  imageLowRes={whatisbgLowRes}
  image={whatisbg}
  backgroundColor="#fff"
  containerClass="h-[1645px]"
>
  <div
    class="absolute inset-0 flex flex-col items-center justify-between"
    style={"background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.4%, rgba(226, 199, 232, 0.18) 91%, rgba(239, 182, 200, 0.2) 96%);"}
  >
    <Navbar client:load />
    <PullToRedirect redirectUrl="/" type="up" client:load />
    <div class="flex w-auto items-center justify-center gap-1.5">
      <Image src={ESC} alt="ESC" class="h-[69px] w-[53px]" />
      <Image src={GearFest} alt="GearFest" class="h-[136px] w-[136px]" />
      <Image src={KNEng} alt="KNEng" class="h-[53px] w-[53px]" />
    </div>
    <div class="mt-10 flex h-full w-full flex-col">
      <h1
        class="mercy-font text-center text-2xl text-white"
        style="text-shadow: 0 0 5px #fff, 0 0 10px #fff;"
      >
        What is gear festival?
      </h1>
      <p class="taviraj-font p-5 text-center text-xs max-md:text-sm text-white">
        Gear Festival เป็นงานเทศกาลดนตรีเพื่อการกุศล <br
        />ที่จัดโดยคณะวิศวกรรมศาสตร์<span class="text-[#FFDFE9]"
          >จุฬาลงกรณ์มหาวิทยาลัย</span
        >
        <br />และ
        <span class="text-[#FFDFE9]">มหาวิทยาลัยธรรมศาสตร์</span>
      </p>
      <p class="taviraj-font px-5 text-center text-xs max-md:text-sm text-white">
        ในงานของเราจะมี<span class="text-[#FFDFE9]"
          >บูธกิจกรรม โซนจัดแสดง ร้านค้ามากมาย<br />
          และคอนเสิร์ตสุดพิเศษ</span
        >ที่ตั้งใจเตรียมมาเพื่องานนี้โดยเฉพาะ
      </p>
      <h2
        class="mercy-font absolute top-[27%] left-[1.5rem] text-2xl text-white"
        style="text-shadow: 0 0 5px #fff, 0 0 10px #fff; "
      >
        What We Get?
      </h2>
      <h3
        class="taviraj-font absolute top-[31.9%] right-[8rem] text-base font-semibold text-[#7065A4]"
      >
        ได้เป็นผู้รับ
      </h3>
      <p
        class="taviraj-font absolute top-[34%] right-[2.5rem] w-fit text-center text-sm text-[#666666]"
      >
        ผ่านการชมงานดนตรีและศิลปะ <br />ทั้งจากนิสิต นักศึกษา และศิลปินสุดพิเศษ
      </p>
      <h3
        class="taviraj-font absolute top-[39%] left-[9rem] text-base font-semibold text-[#7065A4]"
      >
        ได้เป็นผู้ให้
      </h3>
      <p
        class="taviraj-font absolute top-[41%] left-[2rem] w-fit text-center text-sm text-[#666666]"
      >
        ร่วมแบ่งปันความสุข<br />และรอยยิ้มให้กับผู้อื่นภายในงานการกุศล<br />
        กำไรทั้งหมดที่ได้รับจากงานนี้ จะถูกนำไปบริจาคให้กับ<br />
        <a
          class="font-bold text-[#7065A4] underline underline-offset-2"
          href="https://drive.google.com/file/d/18kJLxOB-NkQyJQWABp93SqEq4mUf6j6n/view?usp=sharing"
          >โรงเรียนบ้านต้นผึ้งอำเภอแม่ริม จังหวัดเชียงใหม่</a
        >
      </p>
      <h3
        class="taviraj-font absolute top-[49%] right-[6rem] font-semibold text-[#7065A4]"
      >
        ได้ออกเดินทาง
      </h3>
      <p
        class="taviraj-font absolute top-[51%] right-[2.5rem] w-fit text-center text-sm text-[#666666]"
      >
        ค้นหา และเก็บเกี่ยวตัวตนที่หล่นหายไป <br />ผ่านการเล่นกิจกรรมต่าง ๆ
        ภายในงาน
      </p>
      <h3
        class="taviraj-font absolute top-[56%] left-[11rem] font-semibold text-[#7065A4]"
      >
        ได้ค้นพบ
      </h3>
      <p
        class="taviraj-font absolute top-[58%] left-[6.5rem] w-fit text-center text-sm text-[#666666]"
      >
        ทำความรู้จัก พบปะ <br /> แลกเปลี่ยนประสบการณ์และความรู้สึก <br
        />กับผู้ร่วมงานคนอื่น
      </p>

      <p
        class="taviraj-font font-s absolute top-[67%] w-full text-center text-lg text-white"
        style={{ textShadow: "0px 0px 10px #FBE79D" }}
      >
        วันที่ 28 มีนาคม 2568
      </p>
      <p
        class="taviraj-font absolute top-[69%] w-full px-5 text-center text-sm text-white"
        style={{ textShadow: "0 0 5px #fff, 0 0 10px #fff" }}
      >
        ณ สวนอุทยาน 100 ปี <br />จุฬาลงกรณ์มหาวิทยาลัย
      </p>
      <Image
        src={glowgear}
        alt="glow gear"
        class="absolute top-[67%] left-1/2 -translate-x-1/2"
      />
      <div class="pb-[100px absolute top-[90%] w-full">
        <p
          class="font-jusdon w-full text-center font-bold text-[#7065A4] italic"
        >
          Sponsored by
        </p>
        <div class="flex w-full items-center justify-center">
          <Image src={CCMC} alt="Choco mucho logo" class="h-[50px] w-[49px]" />
          <Image
            src={LoveIs}
            class="h-[70px] w-[70px] object-cover"
            alt="Love is Entertainment logo"
          />
          <Image src={PMCU} class="h-[61px] w-[84px]" alt="PMCU logo" />
        </div>
      </div>
    </div>

    <div
      class="font-judson fixed bottom-5 flex h-10 w-full max-w-[430px] text-xl"
    >
      <CheckResult client:load />
    </div>
    <PullToRedirect type="right" redirectUrl="/donation" client:load />
    <PullToRedirect type="left" redirectUrl="/starboard" client:load />
  </div>
</ImagePageLayout>
