---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";
import ImageHd from "@/assets/result/HelperBG_hd.webp";
import ImageLowRes from "@/assets/result/HelperBG_Image_LowRes.webp";
import Orb from "@/assets/result/Helper.png";
import GearFest from "@/assets/landing/gearfest.svg";
import ESC from "@/assets/landing/esc.svg";
import KNEng from "@/assets/landing/kneng.svg";
import { Image } from "astro:assets";
import Download from "@/assets/result_save/Helper.png";
import Navbar from "@/components/Navbar/Navbar";
---

<ImagePageLayout
  title="Gear Festival 2025"
  image={ImageHd}
  imageLowRes={ImageLowRes}
  class="hide-scrollbar"
>
  <Navbar client:load />
  <div
    class="absolute top-0 right-0 left-0 flex flex-col items-center"
    style={{ backgroundImage: `url(${ImageHd.src})` }}
  >
    <a class="cursor-pointer" href="/">
      <GearFest width={100} height={100} />
    </a>
    <Image src={Orb} alt="Helper Orb" class="-mt-[30px]" />
    <div class="font-petit max-w-[366px] text-center text-sm text-white">
      <p class="mb-5">
        "The greatest gift you can give someone <br /> is your own happiness." -
        Esther Hicks
      </p>
      <div
        style={{
          textShadow: "0px 4px 4px rgba(0, 0, 0, 0.35)",
          background: "rgba(255, 255, 255, 0.1)",
        }}
        class="font-taviraj relative mb-6 flex h-[313px] w-[366px] flex-col items-center justify-center gap-[14px] rounded-xl bg-white text-[12px] font-medium text-white"
      >
        <p class="italic">
          คุณได้รับโหลดาวที่ถูกบรรจุด้วยกระท่อมแสนอบอุ่น<br /> กระท่อมหลังเล็กๆ รายล้อมไปด้วยดอกไม้ที่เบ่งบานอย่างอ่อนโยน<br
          />
          เหล่าสัตว์น้อยใหญ่แวะเวียนมาอย่างไม่ขาดสาย<br />
          เป็นสถานที่ที่ไม่ว่าใครเข้ามา ต่างก็ได้รับความอบอุ่นกลับไปเสมอ
        </p>
        <p>
          ตัวตนของคุณเปรียบเสมือนกระท่อมแห่งนี้<br />
          คุณเป็นคนที่ใส่ใจและคอยช่วยเหลือผู้อื่นอยู่เสมอ คุณพร้อมที่จะ<br />
          เข้าไปยืนอยู่เคียงข้างใครก็ตามที่ต้องการความช่วยเหลือจากคุณ<br />
          จนบางครั้งคุณอาจจะลืมให้ความสำคัญกับตัวเองไป
        </p>
        <p>
          ดวงดาวดวงนี้จึงอยากจะฝากข้อความถึงคุณว่า<br /> อย่าลืมคุณค่าของตัวเองนะ
          คุณเป็นที่รักของผู้คนรอบตัวมากกว่าที่คิด <br
          />และคุณไม่ได้อยู่เพียงลำพัง คุณไม่จำเป็นต้องแบกรับทุกอย่างไว้คนเดียว <br
          />คุณสามารถพึ่งพาคนอื่นได้ <span class="font-semibold"
            >คุณได้ให้ความรักกับผู้อื่นมาเยอะแล้ว<br />
            และตอนนี้ถึงเวลาที่คุณจะยื่นมือมารับความรักจากผู้อื่นแล้วละ</span
          >
        </p>
      </div>
      <div class="font-baskervville mb-6 flex w-full max-w-[366px] gap-2">
        <a
          download
          href={Download.src}
          class="w-full cursor-pointer px-3 py-2.5 text-[#faf8f5] transition-all duration-300 hover:scale-110 active:scale-105"
          style={{
            background: "#807E8E",
            boxShadow:
              "0px 0px 12px rgba(255, 255, 255, 0.48), inset 0px 0px 24px -4px rgba(255, 255, 255, 0.48)",
            borderRadius: "8px",
          }}
          >Save picture
        </a>
        <a
          href="/starboard"
          class="w-full cursor-pointer px-3 py-2.5 text-[#17153b] transition-all duration-300 hover:scale-110 active:scale-105"
          style={{
            background: "#FAF8F5",
            boxShadow:
              "0px 0px 12px rgba(255, 255, 255, 0.48), inset 0px 16px 32px -4px rgba(12, 12, 13, 0.1)",
            borderRadius: "8px",
          }}>Visit Star Board</a
        >
      </div>
      <p class="font-baskervville mb-3 text-base">gearfest2025.com</p>
      <div class="flex w-full items-center justify-center gap-2">
        <ESC width={37} height={44} />
        <KNEng width={37} height={37} />
      </div>
    </div>
  </div>
</ImagePageLayout>
