---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";
import ImageHd from "@/assets/result/ReformerBG_hd.webp";
import ImageLowRes from "@/assets/result/ReformerBG_Image_LowRes.webp";
import Orb from "@/assets/result/Reformer.png";
import GearFest from "@/assets/landing/gearfest.svg";
import ESC from "@/assets/landing/esc.svg";
import KNEng from "@/assets/landing/kneng.svg";
import { Image } from "astro:assets";
import Download from "@/assets/result_save/Reformer.png";
import Navbar from "@/components/Navbar/Navbar";
---

<ImagePageLayout
  title="Gear Festival 2025"
  image={ImageHd}
  imageLowRes={ImageLowRes}
  class="hide-scrollbar"
>
  <Navbar client:load />
  <div
    class="absolute top-0 right-0 left-0 flex flex-col items-center"
    style={{ backgroundImage: `url(${ImageHd.src})` }}
  >
    <a class="cursor-pointer" href="/">
      <GearFest width={100} height={100} />
    </a>
    <Image src={Orb} alt="Reformer Orb" class="-mt-[30px]" />
    <div class="font-petit max-w-[366px] text-center text-sm text-white">
      <p class="mb-5 text-[13px]">
        " We are all broken. That's how the light gets in." <br /> - Ernest Hemingway
      </p>
      <div
        style={{
          textShadow: "0px 4px 4px rgba(0, 0, 0, 0.35)",
          background: "rgba(255, 255, 255, 0.1)",
        }}
        class="font-taviraj relative mb-6 flex h-[313px] w-[366px] flex-col items-center justify-center gap-[14px] rounded-xl bg-white text-[12px] font-medium text-white"
      >
        <p class="italic">
          คุณได้รับโหลดาวที่ถูกบรรจุด้วยห้องสมุดแห่งกาลเวลา<br />
          ประกอบไปด้วยหนังสือที่จัดเรียงไว้อย่างเป็นระเบียบ <br
          />เรียบร้อยบนชั้นวาง ตรงกลางปรากฏนาฬิกาทราย <br
          />ที่กำลังแสดงถึงเวลาที่ถูกดำเนินไปอย่างเที่ยงตรง
        </p>
        <p>
          ตัวตนของคุณเปรียบเสมือนห้องสมุดแห่งนี้<br />
          คุณเป็นคนที่ยึดมั่นในกฎเกณฑ์ มีมาตรฐานสูง และมุ่งมั่นทำให้<br />
          ทุกอย่างออกมาสมบูรณ์แบบมากที่สุด ทว่าในความพยายามนั้น <br
          />บางครั้งคุณอาจเผลอกดดันตัวเองหรือคนรอบข้างมากเกินไป
        </p>
        <p>
          ดวงดาวดวงนี้จึงอยากจะฝากข้อความถึงคุณว่า<br />
          ให้คุณใจดีกับตัวเองมากขึ้น ความผิดพลาดไม่ได้เป็นสิ่งที่ต้อง<br />
          หวาดกลัว เพราะมันเป็นเสี้ยวหนึ่งของการเติบโต เป็นบทเรียน<br />
          ที่เติมเต็มและทำให้คุณสมบูรณ์แบบขึ้น บนโลกใบนี้ยังมีมุมมอง<br />
          ใหม่ๆ อีกมากมายที่คุณสามารถหัวเราะไปกับมันได้<br />
          <span class="font-semibold"
            >คุณเก่งมากๆ และอย่าลืมที่จะพักผ่อนและให้รางวัลตัวเองบ้างนะ</span
          >
        </p>
      </div>
      <div class="font-baskervville mb-6 flex w-full max-w-[366px] gap-2">
        <a
          download
          href={Download.src}
          class="w-full cursor-pointer px-3 py-2.5 text-[#faf8f5] transition-all duration-300 hover:scale-110 active:scale-105"
          style={{
            background: "#807E8E",
            boxShadow:
              "0px 0px 12px rgba(255, 255, 255, 0.48), inset 0px 0px 24px -4px rgba(255, 255, 255, 0.48)",
            borderRadius: "8px",
          }}
          >Save picture
        </a>
        <a
          href="/starboard"
          class="w-full cursor-pointer px-3 py-2.5 text-[#17153b] transition-all duration-300 hover:scale-110 active:scale-105"
          style={{
            background: "#FAF8F5",
            boxShadow:
              "0px 0px 12px rgba(255, 255, 255, 0.48), inset 0px 16px 32px -4px rgba(12, 12, 13, 0.1)",
            borderRadius: "8px",
          }}>Visit Star Board</a
        >
      </div>
      <p class="font-baskervville mb-3 text-base">gearfest2025.com</p>
      <div class="flex w-full items-center justify-center gap-2">
        <ESC width={37} height={44} />
        <KNEng width={37} height={37} />
      </div>
    </div>
  </div>
</ImagePageLayout>
